.card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    width: 380px;
    height: 220px;
    background-color: #6d809f86;
    border-radius: 50px;
    box-shadow: 1px 1px 15px rgba(255, 255, 255, 0.397);

    font-size: 1.3em;

    transition: background-color 0.3s ease;
}
.expanded-content {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.close-button {
    align-self: flex-end;
    background: transparent;
    position: sticky !important;
    top: 20px;
    border: none;
    width: 50px;
    color: #fff;
    margin-bottom: 0;
}

.close-button:hover {
  opacity: 0.7;
}

.card-button:hover {
    background-color: #8195b4;
}
/* EXPAND animation */
.expanded-card-button {
    position: fixed;
    animation: expandCard 1.6s ease-out forwards;
    z-index: 10;
    justify-content: flex-start;
    overflow-y: auto;
    scrollbar-width: none;
    padding: 50px;
}

/* CONTRACT animation */
.collapsing-card-button {
    position: fixed;
    animation: collapseCard 1.3s ease-out forwards;
    z-index: 10;
    justify-content: flex-start;
    padding: 50px;
}

    /* Keyframes for expanding */
@keyframes expandCard {
    0% {
        top: 400px;
        width: 180px;
        height: 120px;
        background-color: #6d809f86;
        opacity: 0;
    }
    /* up to here */
    10%{
        top: 500px;
        width: 380px;
        height: 220px;
        background-color: #6d809f86;
    }
    /* pause */
    15%{
        top: 500px;
        width: 380px;
        height: 220px;
        background-color: #6d809f86;
    }
    /* up to here */
    45% {
        top: 350px;
        width: 850px;
        height: 500px;
        opacity: 95%;
        background-color: #8195b4;
    }
    /* pause */
    60%{
        top: 350px;
        width: 850px;
        height: 500px;
        background-color: #8195b4;
    }
    100% {
        top: 270px;
        width: 1200px;
        height: 680px;
        background-color: #8195b4;
        opacity: 100%;
    }
}

/* Keyframes for contracting (reverse of expand) */
@keyframes collapseCard {
    0% {
        top: 270px;
        width: 1200px;
        height: 680px;
        opacity: 1;
        background-color: #8195b4;
    }
    40% {
        top: 350px;
        width: 850px;
        height: 500px;
        opacity: 1;
        background-color: #8195b4;
    }
    55% {
        top: 350px;
        width: 850px;
        height: 500px;
        background-color: #8195b4;
    }
    100% {
        top: 500px;
        width: 20px;
        height: 20px;
        opacity: 0;
        background-color: #6d809f86
    }
}
