.card {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #9c0f0f;
  width: 250px;
  height: 120px;
}

.card-clickable {
  cursor: pointer;
}

.card-clickable:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  justify-content: center;
  gap: 30px;
}