/* Head content */


.head-content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.head-content hr {
    width: 300px;
    background-color: #6d809f;
    height: 10px;
    border-radius: 50px;
    margin-top: 20px ;
}
.head-content h1 {
  color: #6d809f;
  font-weight: bold;
  font-size: 4rem;
}

.buttonGroup img{
    width: 50px;
    transition: all 0.5s ease;
}

.social-B-1:hover img {
    content: url('../src/assets/githubWhite.png');
    scale: 1.2;
}
.social-B-2:hover img {
    content: url('../src/assets/linkedinWhite-sign.png');
    scale: 1.2;
}
.social-B-3:hover img {
    content: url('../src/assets/mailWhite.png');
    scale: 1.2;
}