@import "tailwindcss";
@import "@heroui/styles";

* {
  color: white;
}
/* background stars */

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: radial-gradient(ellipse at center, #000010 5%,white 450%); /* first simple design */
  /*background: radial-gradient(ellipse at center, black 15%, white 30%, #000010 55%); /* second complex design */
  z-index: -1;

}
.stars {
  width: 2px;
  height: 2px;
  position: absolute;
  background: white;
  box-shadow: 2vw 5vh 2px white, 10vw 8vh 2px white, 15vw 15vh 1px white,
    22vw 22vh 1px white, 28vw 12vh 2px white, 32vw 32vh 1px white,
    38vw 18vh 2px white, 42vw 35vh 1px white, 48vw 25vh 2px white,
    53vw 42vh 1px white, 58vw 15vh 2px white, 63vw 38vh 1px white,
    68vw 28vh 2px white, 73vw 45vh 1px white, 78vw 32vh 2px white,
    83vw 48vh 1px white, 88vw 20vh 2px white, 93vw 52vh 1px white,
    98vw 35vh 2px white, 5vw 60vh 1px white, 12vw 65vh 2px white,
    18vw 72vh 1px white, 25vw 78vh 2px white, 30vw 85vh 1px white,
    35vw 68vh 2px white, 40vw 82vh 1px white, 45vw 92vh 2px white,
    50vw 75vh 1px white, 55vw 88vh 2px white, 60vw 95vh 1px white,
    65vw 72vh 2px white, 70vw 85vh 1px white, 75vw 78vh 2px white,
    80vw 92vh 1px white, 85vw 82vh 2px white, 90vw 88vh 1px white,
    95vw 75vh 2px white, 2vw 90vh 1px white, 8vw 95vh 2px white, 
    14vw 88vh 1px white, 20vw 95vh 2px white, 26vw 82vh 1px white,
    31vw 90vh 2px white, 37vw 78vh 1px white,43vw 85vh 2px white,
    49vw 72vh 1px white, 54vw 80vh 2px white,60vw 68vh 1px white,
    66vw 75vh 2px white, 72vw 62vh 1px white,78vw 70vh 2px white,
    84vw 58vh 1px white, 90vw 65vh 2px white,96vw 52vh 1px white;
  animation: twinkle 4s infinite linear;
}
.shooting-star {
  position: absolute;
  width: 100px;
  height: 3px;
  background: linear-gradient(90deg, white, transparent);
  animation: shoot 3s infinite ease-in;
}
.shooting-star:nth-child(1) {
  top:  0%;
  left: -100px;
  animation-delay: 0s;
}
.shooting-star:nth-child(2) {
  top: 80%;
  left: -100px;
  animation-delay: 0.8s;
}
.shooting-star:nth-child(3) {
  top: 15%;
  left: -100px;
  animation-delay: 1.6s;
}
.shooting-star:nth-child(4) {
  top: 65%;
  left: -100px;
  animation-delay: 2.4s;
}
.shooting-star:nth-child(5) {
  top: 30%;
  left: -100px;
  animation-delay: 3.2s;
}
.shooting-star:nth-child(6) {
  top: 40%;
  left: -100px;
  animation-delay: 4s;
}
.shooting-star:nth-child(7) {
  top: 55%;
  left: -100px;
  animation-delay: 4.8s;
}
.shooting-star:nth-child(8) {
  top: 25%;
  left: -100px;
  animation-delay: 5.6s;
}
.shooting-star:nth-child(9) {
  top: 70%;
  left: -100px;
  animation-delay: 6.4s;
}
.shooting-star:nth-child(10) {
  top: 10%;
  left: -100px;
  animation-delay: 7.2s;
}
@keyframes twinkle {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.2;
  }
}
@keyframes shoot {
  0% {
    transform: translateX(0) translateY(-20vh) rotate(25deg);
    opacity: 0.8;
  }
  100% {
    transform: translateX(100vw) translateY(50vh) rotate(25deg);
    opacity: 0.2;
  }
}
/* Additional twinkling stars with different animation timing */
.stars::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  box-shadow: 8vw 12vh 2px white, 16vw 18vh 1px white, 24vw 25vh 2px white,
    33vw 15vh 1px white, 41vw 28vh 2px white, 49vw 35vh 1px white,
    57vw 22vh 2px white, 65vw 42vh 1px white, 73vw 28vh 2px white,
    81vw 48vh 1px white, 89vw 32vh 2px white, 97vw 45vh 1px white,
    3vw 68vh 2px white, 11vw 75vh 1px white, 19vw 82vh 2px white,
    27vw 88vh 1px white, 35vw 72vh 2px white, 43vw 85vh 1px white,
    51vw 92vh 2px white, 59vw 78vh 1px white, 67vw 88vh 2px white,
    75vw 95vh 1px white, 83vw 82vh 2px white, 91vw 90vh 1px white,
    99vw 75vh 2px white, 6vw 95vh 1px white, 14vw 88vh 2px white,
    22vw 95vh 1px white, 30vw 82vh 2px white, 38vw 90vh 1px white,
    46vw 78vh 2px white, 54vw 85vh 1px white, 62vw 72vh 2px white,
    70vw 80vh 1px white, 78vw 68vh 2px white, 86vw 75vh 1px white,
    94vw 62vh 2px white;
  animation: twinkle 6s infinite linear reverse;
}

.content-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-wrapper {
  display: flex;
  position: relative;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  top: 100px;
}

.button-container {
  display: flex;
  overflow: visible;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-content: flex-start;
  width:1000px;
  column-gap: 50px;
  row-gap: 50px;
  line-height: 1px ;
}